<html ng-app="myApp">
	<body ng-controller="appCtrl">
      <div>
      <input type="text" placeholder="email" ng-model="email">
       <input type="text" placeholder="password" ng-model="password">
        </div>
        <div>
            <P>{{email}}</P>
            <p>{{password}}</p>
        </div>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
		<script src="app.js"></script>
		<script src="controller.js"></script>
		<script src="service.js"></script>
	</body>
</html>